

.mw-flex-row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.mw-flex-row.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.mw-flex-col.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.mw-flex-col-xs,
.mw-flex-col-xs-1,
.mw-flex-col-xs-2,
.mw-flex-col-xs-3,
.mw-flex-col-xs-4,
.mw-flex-col-xs-5,
.mw-flex-col-xs-6,
.mw-flex-col-xs-7,
.mw-flex-col-xs-8,
.mw-flex-col-xs-9,
.mw-flex-col-xs-10,
.mw-flex-col-xs-11,
.mw-flex-col-xs-12,
.mw-flex-col-xs-offset-0,
.mw-flex-col-xs-offset-1,
.mw-flex-col-xs-offset-2,
.mw-flex-col-xs-offset-3,
.mw-flex-col-xs-offset-4,
.mw-flex-col-xs-offset-5,
.mw-flex-col-xs-offset-6,
.mw-flex-col-xs-offset-7,
.mw-flex-col-xs-offset-8,
.mw-flex-col-xs-offset-9,
.mw-flex-col-xs-offset-10,
.mw-flex-col-xs-offset-11,
.mw-flex-col-xs-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.mw-flex-col-xs {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
}

.mw-flex-col-xs-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
}

.mw-flex-col-xs-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
}

.mw-flex-col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
}

.mw-flex-col-xs-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
}

.mw-flex-col-xs-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
}

.mw-flex-col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.mw-flex-col-xs-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
}

.mw-flex-col-xs-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
}

.mw-flex-col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
}

.mw-flex-col-xs-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
}

.mw-flex-col-xs-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
}

.mw-flex-col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

.mw-flex-col-xs-offset-0 {
    margin-left: 0;
}

.mw-flex-col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.mw-flex-col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.mw-flex-col-xs-offset-3 {
    margin-left: 25%;
}

.mw-flex-col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.mw-flex-col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.mw-flex-col-xs-offset-6 {
    margin-left: 50%;
}

.mw-flex-col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.mw-flex-col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.mw-flex-col-xs-offset-9 {
    margin-left: 75%;
}

.mw-flex-col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.mw-flex-col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.mw-flex-start-xs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
}

.mw-flex-center-xs {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.mw-flex-end-xs {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
}

.mw-flex-top-xs {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.mw-flex-middle-xs {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mw-flex-bottom-xs {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.mw-flex-around-xs {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.mw-flex-between-xs {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mw-flex-first-xs {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.mw-flex-last-xs {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

@media only screen and (min-width: 48em) {


    .mw-flex-col-sm,
    .mw-flex-col-sm-1,
    .mw-flex-col-sm-2,
    .mw-flex-col-sm-3,
    .mw-flex-col-sm-4,
    .mw-flex-col-sm-5,
    .mw-flex-col-sm-6,
    .mw-flex-col-sm-7,
    .mw-flex-col-sm-8,
    .mw-flex-col-sm-9,
    .mw-flex-col-sm-10,
    .mw-flex-col-sm-11,
    .mw-flex-col-sm-12,
    .mw-flex-col-sm-offset-0,
    .mw-flex-col-sm-offset-1,
    .mw-flex-col-sm-offset-2,
    .mw-flex-col-sm-offset-3,
    .mw-flex-col-sm-offset-4,
    .mw-flex-col-sm-offset-5,
    .mw-flex-col-sm-offset-6,
    .mw-flex-col-sm-offset-7,
    .mw-flex-col-sm-offset-8,
    .mw-flex-col-sm-offset-9,
    .mw-flex-col-sm-offset-10,
    .mw-flex-col-sm-offset-11,
    .mw-flex-col-sm-offset-12 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .mw-flex-col-sm {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }

    .mw-flex-col-sm-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }

    .mw-flex-col-sm-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    }

    .mw-flex-col-sm-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }

    .mw-flex-col-sm-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .mw-flex-col-sm-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
    }

    .mw-flex-col-sm-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }

    .mw-flex-col-sm-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }

    .mw-flex-col-sm-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .mw-flex-col-sm-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }

    .mw-flex-col-sm-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .mw-flex-col-sm-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%;
    }

    .mw-flex-col-sm-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }

    .mw-flex-col-sm-offset-0 {
        margin-left: 0;
    }

    .mw-flex-col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .mw-flex-col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .mw-flex-col-sm-offset-3 {
        margin-left: 25%;
    }

    .mw-flex-col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .mw-flex-col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .mw-flex-col-sm-offset-6 {
        margin-left: 50%;
    }

    .mw-flex-col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .mw-flex-col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .mw-flex-col-sm-offset-9 {
        margin-left: 75%;
    }

    .mw-flex-col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .mw-flex-col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .mw-flex-start-sm {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start;
    }

    .mw-flex-center-sm {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }

    .mw-flex-end-sm {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end;
    }

    .mw-flex-top-sm {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .mw-flex-middle-sm {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .mw-flex-bottom-sm {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .mw-flex-around-sm {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .mw-flex-between-sm {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .mw-flex-first-sm {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .mw-flex-last-sm {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}

@media only screen and (min-width: 64em) {


    .mw-flex-col-md,
    .mw-flex-col-md-1,
    .mw-flex-col-md-2,
    .mw-flex-col-md-3,
    .mw-flex-col-md-4,
    .mw-flex-col-md-5,
    .mw-flex-col-md-6,
    .mw-flex-col-md-7,
    .mw-flex-col-md-8,
    .mw-flex-col-md-9,
    .mw-flex-col-md-10,
    .mw-flex-col-md-11,
    .mw-flex-col-md-12,
    .mw-flex-col-md-offset-0,
    .mw-flex-col-md-offset-1,
    .mw-flex-col-md-offset-2,
    .mw-flex-col-md-offset-3,
    .mw-flex-col-md-offset-4,
    .mw-flex-col-md-offset-5,
    .mw-flex-col-md-offset-6,
    .mw-flex-col-md-offset-7,
    .mw-flex-col-md-offset-8,
    .mw-flex-col-md-offset-9,
    .mw-flex-col-md-offset-10,
    .mw-flex-col-md-offset-11,
    .mw-flex-col-md-offset-12 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .mw-flex-col-md {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }

    .mw-flex-col-md-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }

    .mw-flex-col-md-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    }

    .mw-flex-col-md-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }

    .mw-flex-col-md-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .mw-flex-col-md-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
    }

    .mw-flex-col-md-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }

    .mw-flex-col-md-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }

    .mw-flex-col-md-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .mw-flex-col-md-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }

    .mw-flex-col-md-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .mw-flex-col-md-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%;
    }

    .mw-flex-col-md-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }

    .mw-flex-col-md-offset-0 {
        margin-left: 0;
    }

    .mw-flex-col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .mw-flex-col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .mw-flex-col-md-offset-3 {
        margin-left: 25%;
    }

    .mw-flex-col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .mw-flex-col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .mw-flex-col-md-offset-6 {
        margin-left: 50%;
    }

    .mw-flex-col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .mw-flex-col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .mw-flex-col-md-offset-9 {
        margin-left: 75%;
    }

    .mw-flex-col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .mw-flex-col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .mw-flex-start-md {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start;
    }

    .mw-flex-center-md {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }

    .mw-flex-end-md {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end;
    }

    .mw-flex-top-md {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .mw-flex-middle-md {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .mw-flex-bottom-md {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .mw-flex-around-md {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .mw-flex-between-md {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .mw-flex-first-md {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .mw-flex-last-md {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}

@media only screen and (min-width: 75em) {


    .mw-flex-col-lg,
    .mw-flex-col-lg-1,
    .mw-flex-col-lg-2,
    .mw-flex-col-lg-3,
    .mw-flex-col-lg-4,
    .mw-flex-col-lg-5,
    .mw-flex-col-lg-6,
    .mw-flex-col-lg-7,
    .mw-flex-col-lg-8,
    .mw-flex-col-lg-9,
    .mw-flex-col-lg-10,
    .mw-flex-col-lg-11,
    .mw-flex-col-lg-12,
    .mw-flex-col-lg-offset-0,
    .mw-flex-col-lg-offset-1,
    .mw-flex-col-lg-offset-2,
    .mw-flex-col-lg-offset-3,
    .mw-flex-col-lg-offset-4,
    .mw-flex-col-lg-offset-5,
    .mw-flex-col-lg-offset-6,
    .mw-flex-col-lg-offset-7,
    .mw-flex-col-lg-offset-8,
    .mw-flex-col-lg-offset-9,
    .mw-flex-col-lg-offset-10,
    .mw-flex-col-lg-offset-11,
    .mw-flex-col-lg-offset-12 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .mw-flex-col-lg {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }

    .mw-flex-col-lg-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%;
    }

    .mw-flex-col-lg-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%;
    }

    .mw-flex-col-lg-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }

    .mw-flex-col-lg-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%;
    }

    .mw-flex-col-lg-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
    }

    .mw-flex-col-lg-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }

    .mw-flex-col-lg-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
    }

    .mw-flex-col-lg-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%;
    }

    .mw-flex-col-lg-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%;
    }

    .mw-flex-col-lg-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%;
    }

    .mw-flex-col-lg-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%;
    }

    .mw-flex-col-lg-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }

    .mw-flex-col-lg-offset-0 {
        margin-left: 0;
    }

    .mw-flex-col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .mw-flex-col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .mw-flex-col-lg-offset-3 {
        margin-left: 25%;
    }

    .mw-flex-col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .mw-flex-col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .mw-flex-col-lg-offset-6 {
        margin-left: 50%;
    }

    .mw-flex-col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .mw-flex-col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .mw-flex-col-lg-offset-9 {
        margin-left: 75%;
    }

    .mw-flex-col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .mw-flex-col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .mw-flex-start-lg {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start;
    }

    .mw-flex-center-lg {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }

    .mw-flex-end-lg {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end;
    }

    .mw-flex-top-lg {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .mw-flex-middle-lg {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .mw-flex-bottom-lg {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .mw-flex-around-lg {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .mw-flex-between-lg {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .mw-flex-first-lg {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .mw-flex-last-lg {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
}