html, body {
  //font-family: -apple-system,
  //BlinkMacSystemFont,
  //"Segoe UI",
  //Roboto,
  //Oxygen-Sans,
  //Ubuntu,
  //Cantarell,
  //"Helvetica Neue",
  //sans-serif;

  font-family: Helvetica, Arial, sans-serif;

  font-size: 13px;
}

@font-face {
  font-family: 'Microweber';
  src: url('../fonts/font.ttf?mwv=v06') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "buttons";
@import "icons";

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-shadow: border-box;
  -moz-box-shadow: border-box;
  box-shadow: border-box;
}