/****************************
 Buttons & button navigation
*****************************/
.mw-ui-link {
  text-decoration: underline;
  color: #009cff;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.mw-ui-link-nav > *:after {
  display: inline;
  position: absolute;
  top: 0;
  left: 100%;
  color: #009cff;
  font-size: 80%;
  content: "/";
  margin: 3px 5px;
  text-decoration: none !important;
  pointer-events: none;
}
.mw-ui-link-nav > *:last-child:after {
  display: none;
}
.mw-ui-link-nav > * {
  position: relative;
  margin-right: 11px;
  text-decoration: none;
  cursor: pointer;
}
.mw-ui-link:hover,
.mw-ui-link:focus {
  text-decoration: none;
}
.mw-ui-link:active {
  opacity: 0.80;
}
.mw-ui-btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1.308rem;
  line-height: normal;
  cursor: pointer;
  text-align: center;
  position: relative;
  text-decoration: none;
  font-size: 1.154rem;
  line-height: 2.923rem;
  height: 2.923rem;
  border-radius: 2px;
  color: #686868;
  background-color: #f5f5f5;
  border: 1px solid #cfcfcf;
  outline: 0;
}
.mw-ui-link {
  border: 0 !important;
  background: none;
}
input.mw-ui-btn {
  -webkit-appearance: none;
}
.mw-ui-btn-hover {
  border-color: transparent;
  background-color: transparent;
}
/* Colors */
.mw-ui-btn-invert {
  color: #ffffff;
  background-color: #2b2b2b;
  border-color: #2b2b2b;
}
.mw-ui-btn-outline.mw-ui-btn-invert {
  color: #2b2b2b;
}
.mw-ui-btn-important {
  color: #ffffff;
  background-color: #f12b1c;
  border-color: #f12b1c;
}
.mw-ui-btn-outline.mw-ui-btn-important {
  color: #f12b1c;
}
.mw-ui-btn-info {
  color: #ffffff;
  background-color: #009cff;
  border-color: #009cff;
}
.mw-ui-btn-outline.mw-ui-btn-info {
  color: #009cff;
}
.mw-ui-btn-notification {
  color: #ffffff;
  background-color: #469a36;
  border-color: #469a36;
}
.mw-ui-btn-outline.mw-ui-btn-notification {
  color: #469a36;
}
.mw-ui-btn-warn {
  color: #ffffff;
  background-color: #fa8e36;
  border-color: #fa8e36;
}
.mw-ui-btn-outline.mw-ui-btn-warn {
  color: #fa8e36;
}
.mw-ui-btn-outline {
  background-color: transparent;
}
/* Hovers */
.mw-ui-btn.mw-ui-btn-outline.active:not(.mw-ui-btn-invert):not(.mw-ui-btn-important):not(.mw-ui-btn-info):not(.mw-ui-btn-warn):not(.mw-ui-btn-notification),
.mw-ui-btn.mw-ui-btn-outline:not(.mw-ui-btn-invert):not(.mw-ui-btn-important):not(.mw-ui-btn-info):not(.mw-ui-btn-warn):not(.mw-ui-btn-notification):hover,
.mw-ui-btn.mw-ui-btn-outline:not(.mw-ui-btn-invert):not(.mw-ui-btn-important):not(.mw-ui-btn-info):not(.mw-ui-btn-warn):not(.mw-ui-btn-notification):focus {
  background-color: #f5f5f5;
}
.mw-ui-btn.mw-ui-btn-outline.active,
.mw-ui-btn.mw-ui-btn-outline:hover,
.mw-ui-btn.mw-ui-btn-outline:focus {
  color: #686868;
}
.mw-ui-btn-outline.mw-ui-btn-invert.active,
.mw-ui-btn-outline.mw-ui-btn-invert:hover,
.mw-ui-btn-outline.mw-ui-btn-invert:focus {
  color: #ffffff;
}
.mw-ui-btn-outline.mw-ui-btn-important.active,
.mw-ui-btn-outline.mw-ui-btn-important:hover,
.mw-ui-btn-outline.mw-ui-btn-important:focus {
  color: #ffffff;
}
.mw-ui-btn-outline.mw-ui-btn-info.active,
.mw-ui-btn-outline.mw-ui-btn-info:hover,
.mw-ui-btn-outline.mw-ui-btn-info:focus {
  color: #ffffff;
}
.mw-ui-btn-outline.mw-ui-btn-warn.active,
.mw-ui-btn-outline.mw-ui-btn-warn:hover,
.mw-ui-btn-outline.mw-ui-btn-warn:focus {
  color: #ffffff;
}
.mw-ui-btn-outline.mw-ui-btn-notification.active,
.mw-ui-btn-outline.mw-ui-btn-notification:hover,
.mw-ui-btn-outline.mw-ui-btn-notification:focus {
  color: #ffffff;
}
/* Sizes */
.mw-ui-btn-large,
.mw-ui-btn-big {
  font-size: 1.385rem;
  height: 3.385rem;
  padding: 0 1.538rem;
  line-height: 3.385rem;
}
.mw-ui-btn-medium {
  font-size: 1rem;
  height: 2.308rem;
  padding: 0px 1rem;
  line-height: 2.308rem;
}
.mw-ui-btn-small,
.mw-ui-btn-mini,
.mw-ui-btn-tiny {
  font-size: 0.8462rem;
  height: 1.538rem;
  padding: 0 0.7692rem;
  line-height: 1.538rem;
}
/* States */
.mw-ui-btn:hover,
.mw-ui-btn:focus {
  background-color: #ffffff;
  outline: none;
  text-decoration: none;
}
.mw-ui-btn-invert:hover,
.mw-ui-btn-invert:focus {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}
.mw-ui-btn-important:hover,
.mw-ui-btn-important:focus {
  background-color: #f7857c;
  border-color: #f7857c;
}
.mw-ui-btn-info:hover,
.mw-ui-btn-info:focus {
  background-color: #66c4ff;
  border-color: #66c4ff;
}
.mw-ui-btn-notification:hover,
.mw-ui-btn-notification:focus {
  background-color: #7acb6b;
  border-color: #7acb6b;
}
.mw-ui-btn-warn:hover,
.mw-ui-btn-warn:focus {
  background-color: #fcc69a;
  border-color: #fcc69a;
}
.mw-ui-btn:active,
.mw-ui-btn.active,
.mw-ui-btn.active:hover,
.mw-ui-btn.active:focus {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
/* Rounded buttons */
.mw-ui-btn-rounded {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
/*  Button with icon  */
.mw-ui-btn > [class*='mw-icon-'],
.mw-ui-btn > [class*='mai-'],
.mw-ui-btn > [class*='mw-micon-'] {
  font-size: 1.4em;
  text-align: center;
  line-height: 0;
  vertical-align: middle;
  display: inline-block;
  top: -1px;
}
.mw-ui-btn > .mw-icon-dropdown {
  font-size: 12px;
  margin-top: -7px;
  margin-right: 0;
  margin-left: 7px;
}
.mw-ui-btn > .mw-icon-right {
  margin: -2px 0 0 7px;
}
.mw-ui-btn.active > [class*='mw-icon-'],
.mw-ui-btn:hover > [class*='mw-icon-'],
.mw-ui-btn:focus > [class*='mw-icon-'] {
  opacity: 1;
}
/* Navigations */
.mw-ui-btn-nav,
.mw-ui-btn-vertical-nav {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.mw-ui-btn-nav:not(.mw-ui-btn-nav-fluid):after,
.mw-ui-btn-vertical-nav:not(.mw-ui-btn-nav-fluid):after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.mw-ui-btn-nav li {
  list-style: none;
  float: left;
}
.mw-ui-btn-vertical-nav li {
  float: none;
  list-style: none;
}
.mw-ui-btn-nav > .mw-ui-btn,
.mw-ui-btn-nav > li > .mw-ui-btn {
  border-width: 1px 1px 1px 0;
  float: left;
  border-radius: 0px;
}
.mw-ui-btn-nav > .mw-ui-btn:first-child,
.mw-ui-btn-nav > li:first-child > .mw-ui-btn {
  border-left-width: 1px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.mw-ui-btn-nav > .mw-ui-btn:last-child,
.mw-ui-btn-nav > li:last-child > .mw-ui-btn {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.mw-ui-btn-nav-fluid {
  display: table;
  width: 100%;
  vertical-align: top;
}
.mw-ui-btn-nav-fluid > li {
  float: none;
  display: table-cell;
  vertical-align: top;
}
.mw-ui-btn-nav-fluid > li > .mw-ui-btn {
  float: none;
  display: block;
  width: 100%;
  white-space: nowrap;
}
.mw-ui-btn-vertical-nav .mw-ui-btn {
  border-width: 1px 1px 0px 1px;
  border-radius: 0px;
  display: block;
  text-align: left;
}
.mw-ui-btn-vertical-nav > .mw-ui-btn:last-child,
.mw-ui-btn-vertical-nav > li:last-child > .mw-ui-btn {
  border-radius: 0 0 2px 2px;
  border-bottom-width: 1px;
}
/****************************
           Variables
*****************************/
